<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user_info.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user_info.password %>
</p>

<%= link_to 'Back', user_infos_path %>
